Repository bcgov/devhub-app-web, pull requests merged in 2019-11, with the labels that each got.

#1086 Pipeline/remove deployments
  .jenkins/docker/contrib/jenkins/configuration/jobs/devhub-scheduled-build/config.xml
  scheduled.Jenkinsfile
Labels: status:not ready for merge

#1091 Imp/scheduled build job
  .jenkins/README.md
  .jenkins/docker/contrib/jenkins/configuration/jobs/devhub-scheduled-build/config.xml
  .pipeline/.env.example
  .pipeline/README.md
  .pipeline/lib/deploy.js
  .pipeline/package-lock.json
  .pipeline/package.json
  .pipeline/utils/index.js
  Jenkinsfile
  README.md
  scheduled.Jenkinsfile
Labels: task:pipeline, task:refactor

#1129 Support adding 'tags' to frontmatter to improve Search-ability of content
  app-web/gatsby-config.js
  app-web/gatsby/onCreateNode.js
  app-web/package-lock.json
  app-web/plugins/gatsby-source-github-all/__tests__/fetchSource.test.js
  app-web/plugins/gatsby-source-github-all/sourceNodes.js
  app-web/plugins/gatsby-source-github-all/utils/fetchSource.js
  app-web/src/constants/search.js
  app-web/src/hoc/withResourceQuery.js
  app-web/src/pages/index.js
  app-web/src/utils/hooks.js
Labels: task:enhancement

#1150 Introduce Documentation on Algolia Integration
  README.md
  docs/images/algolia-integration.png
  docs/searchWithAlgolia.md
Labels: story:search, task:documentation
