Repository bcgov/devhub-app-web, pull requests merged in 2020-05, with the labels that each got.

#1359 Devhub-Api Testing Framework
  api/.babelrc
  api/.pipeline/lib/config.js
  api/__tests__/healthcheck.test.js
  api/openshift/dc.yaml
  api/package-lock.json
  api/package.json
  api/src/index.js
  api/src/routers/healthcheck.js
  api/src/serve.js
Labels: component: api, task: enhancement, task: technical debt

#1361 Enable Cors on Devhub-API
  api/.env.example
  api/.pipeline/lib/deploy.js
  api/openshift/dc.yaml
  api/package-lock.json
  api/package.json
  api/src/index.js
  api/src/routers/healthcheck.js
Labels: component: api

#1367 Github Issue/Repo cards now show an external link icon
  .github/workflows/cypress.yml
  .github/workflows/nodejs.yml
  Jenkinsfile
  algolia/index.json
  api/Jenkinsfile
  app-web/src/components/DynamicSearchResults/GithubIssueCardHeader.js
  app-web/src/components/Search/SearchGateResults.js
Labels: task: ux/ui

#1371 add tags to status page
  app-web/topicRegistry/getting-started-on-the-devops-platform.json
Labels: task: ux/ui
